/*//////////////////////////////////////////////////////////////////////////////
// MEDIA 
//////////////////////////////////////////////////////////////////////////////*/

audio,
video 
  display inline-block

audio:not([controls])
  display none
  height 0

audio,
canvas,
progress,
video 
  display inline-block
  vertical-align baseline

img
embed
iframe
object
audio
video
  height auto
  max-width 100%

/*//////////////////////////////////////////////////////////////////////////////
// EXT 
//////////////////////////////////////////////////////////////////////////////*/

details, 
menu 
  display block

summary 
  display list-item

svg:not(:root)
  overflow hidden
