/*//////////////////////////////////////////////////////////////////////////////
// Input
//////////////////////////////////////////////////////////////////////////////*/

button, input, optgroup, select, textarea
  margin 0

button
  width auto
  overflow visible

button,
input,
select,
legend,
label,
optgroup,
textarea
  font-family sans-serif
  font-size 100%
  line-height 1.15 /* opinionated */

input, select
  vertical-align middle

input[type="radio"]
  vertical-align text-bottom

input[type="checkbox"]
  vertical-align bottom

form
  width 100%

select, input, textarea
  font 99% sans-serif

label,
input[type=button],
input[type=submit],
input[type=file],
button
  cursor pointer /* opinionated */
  
textarea
  overflow auto


